#ignoring the node_modules
node_modules/

#ignoring the .vs directory
.vs/
.vscode/

#credentials of my application
*.env

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.