#ignoring the node_modules
node_modules/

#ignoring the .vs directory
.vs/
.vscode/

#ignoring the coverage files
coverage/

#credentials of my application
*.env

#expo 
.expo

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.